# this is where you put all the third-party libraries you want to install
# e.g. 
numpy == 1.18.1

# dependencies can have a specific version number, like so:
# numpy == 1.18.1
# or can be left open, e.g.:
# numpy
# it is recommended that you specify a version number for all dependencies
# but you can usually allow for updates to the minor version number. e.g.
# numpy == 1.18
# this ensures security updates are applied, but you don't get any breaking changes
